.movie-card {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.movie-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded .movie-details {
  max-height: 100vh;
}


.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.movie-col {
  flex: 0 0 auto;
}
